.node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
    border: 1px solid var(--mud-palette-background-gray);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--mud-palette-surface);
}

.node-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--mud-palette-surface);
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.node-header-text {
    flex: 1;
}

.node-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
}

.port-text {
    position: absolute;
    font-size: 14px;
    color: var(--mud-palette-surface);
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-weight: bold;
}

.port-input {
    left: 0;
}

.port-output {
    right: -10px;
}

.port-top {
    top: calc((100% - 38px) * 0.25 + 38px);
}

.port-center {
    top: calc((100% - 38px) * 0.5 + 38px);
}

.port-bottom {
    top: calc((100% - 38px) * 0.75 + 38px);
}


::deep .diagram-port {
    position: absolute;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 4px solid;
    background-color: var(--mud-palette-surface);
}

    ::deep .diagram-port.in.top {
        left: 0;
        top: calc((100% - 38px) * 0.25 + 38px);
    }

    ::deep .diagram-port.in.middle {
        left: 0;
        top: calc((100% - 38px) * 0.5 + 38px);
    }

    ::deep .diagram-port.in.bottom {
        left: 0;
        top: calc((100% - 38px) * 0.75 + 38px);
    }

    ::deep .diagram-port.out.top {
        right: -25px;
        top: calc((100% - 38px) * 0.25 + 38px);
    }

    ::deep .diagram-port.out.bottom {
        right: -25px;
        top: calc((100% - 38px) * 0.75 + 38px);
    }

    ::deep .diagram-port.out.middle {
        right: -25px;
        top: calc((100% - 38px) * 0.5 + 38px);
    }